<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.bankapp">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme.NoActionBar">
        <activity android:name="Activities.MonthlyPaymentsActivity"></activity>
        <activity android:name="Activities.PayBillsActivity"/>
        <activity android:name="Activities.TransferMoneyAccounts"/>
        <activity android:name="Activities.TransferMoneyOthersActivity"/>
        <activity android:name="Activities.ApplyForAccountsActivity"/>
        <activity android:name="Activities.NemIdActivity"/>
        <activity android:name="Activities.ResetPasswordActivity"/>
        <activity android:name="Activities.ViewAccountActivity"/>
        <activity android:name="Activities.DepositActivity"/>
        <activity
                android:name="Activities.RegisterActivity"
                android:label="@string/title_activity_register"
                android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name="Activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name="Activities.MenuActivity"
                android:label="MenuActivity"/>

        <receiver
                android:name=".Service.AutoPayReceiver"

                android:exported="true"/>
        <receiver
                android:name=".Service.MonthlyAutoDepositReceiver"
                android:exported="true"/>
    </application>

</manifest>